<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
             <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{ asset('frontOffice/libraries/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ asset('frontOffice/libraries/icofont/icofont.min.css') }}" rel="stylesheet">
  <link href="{{ asset('frontOffice/libraries/owl.carousel/asset/owl.carousel.min.css') }}" rel="stylesheet">
  <link href="{{ asset('frontOffice/libraries/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ asset('frontOffice/libraries/venobox/venobox.css') }}" rel="stylesheet">
  <link href="{{ asset('frontOffice/libraries/aos/aos.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ asset('frontOffice/css/style.css') }}" rel="stylesheet">
<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
</style>
        {% endblock %}

    </head>
    
        {% block header %}
        <header id="header" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <h1 class="logo"><a href="index.html">Esprit</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="resume.html">Resume</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="portfolio.html">Portfolio</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav><!-- .nav-menu -->

      <div class="header-social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>

    </div>

  </header>
        {% endblock %}
        <body>
        <div class="container">
        <br/><br/><br/><br/><br/><br/>
            {% block body %}

            <section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
      <h1>Esprit</h1>
      <a href="about.html" class="btn-about">About Me</a>
    </div>
  </section>
        {% endblock %}
        </div>
         </body>
            {% block footer %}
             <footer id="footer" class="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Esprit</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

        {% endblock %}
        {% block javascripts %}
            
  <script src="{{ asset('frontOffice/libraries/jquery/jquery.min.js') }}"></script>
  <script src="{{ asset('frontOffice/libraries/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ asset('frontOffice/libraries/jquery.easing/jquery.easing.min.js') }}"></script>
  <script src="{{ asset('frontOffice/libraries/php-email-form/validate.js') }}"></script>
  <script src="{{ asset('frontOffice/libraries/waypoints/jquery.waypoints.min.js') }}"></script>
  <script src="{{ asset('frontOffice/libraries/counterup/counterup.min.js') }}"></script>
  <script src="{{ asset('frontOffice/libraries/owl.carousel/owl.carousel.min.js') }}"></script>
  <script src="{{ asset('frontOffice/libraries/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ asset('frontOffice/libraries/venobox/venobox.min.js') }}"></script>
  <script src="{{ asset('frontOffice/libraries/aos/aos.js') }}"></script>

  <script src="{{ asset('frontOffice/js/main.js') }}"></script>
        {% endblock %}
   
</html>
